DATABASE_URL=

NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000"

OPENAI_API_KEY=

#Upstash Redis
RED_KV_REST_API_READ_ONLY_TOKEN=
RED_KV_REST_API_TOKEN=
RED_KV_REST_API_URL=
RED_KV_URL=
RED_REDIS_URL=